<h1>Groups index</h1>

<ul class="groups-container">
  <% @groups.each do |group| %>
    <li>
        <a href="/#" class="group-card">
            <img class="group-card-img" src=<%=group.icon%> alt="icon">
            <p><%=group.name%></p>
            <p class="group-card-total">$20.3</p>
        </a>
    </li>
  <% end %>
  <a href="/groups/new" class="w-100"><button class="mobile-button-blue">ADD NEW CATEGORY</button></a>
</ul>