<div class="splash-container">
    <h1>Smart Budget</h1>
    <div class="splash-buttons-group">
      <a href="/users/sign_in" class="w-100"><button class="mobile-button-blue">LOG IN</button></a>
      <a href="/users/sign_up" class="w-100"><button class="mobile-button-white">SIGN UP</button></a>
    </div>
</div>