/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* General tag styles */
* {
  box-sizing: border-box;
}

body {
  background-color: #f5f6f8;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0;
}

/* rails styles modifications */

.field {
  width: 100%;
}

.actions {
  width: 100%;
}

/* general styles */

.w-100 {
  width: 100%;
}

.separator-line {
  border: 1px solid lightgrey;
  width: 100%;
  margin: 0;
}

.mobile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 15px;
  margin-top: 50px;
}

.mobile-field {
  width: 100%;
  height: 40px;
  border: 0;
}

.mobile-field::placeholder {
  color: gray;
}

.mobile-button-blue {
  width: 100%;
  height: 40px;
  color: white;
  border: 0;
  background-color: #3778c2;
}

.mobile-button-green {
  width: 90%;
  height: 40px;
  color: white;
  border: 0;
  background-color: #5fb523;
  border: 1px solid white
}

.mobile-button-white {
  width: 100%;
  height: 40px;
  color: gray;
  border: 0;
  background-color: white;
}

.section-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 40px);
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: auto;
  background-color: #5fb523;
}

.link-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
}


/* views styles */

.splash-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.splash-buttons-group {
  width: 100%;
}

.group-card {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  color: #434b54;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.group-card-img {
  max-width: 100px;
  border: 1px solid lightgray;
}

.group-card-total {
  margin-left: auto;
  font-weight: 600;
}

.transactions-total {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.total-ammount {
  font-weight: 600;
  font-size: 1.2rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #3778c2;
  color: white;
  padding: 10px;
  font-weight: 500;
  height: 40px;
}

.nav-container a {
  color: white;
}
